body{
 background: url("/images/1.jpg") no-repeat ;
 background-position: center;
 background-size: cover;

}
.heading{
  text-align: center;
}

.out-line{
   background: none;
   border-radius: 12px;
   border: 1px solid #fff;
   color: grey;
   margin-bottom: 20px;
}
.btn{
  text-align: center;
}
.nav a {
    float: left;
    display: block;
    font-size: 18px;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .nav a:hover {
    background: rgb(240, 203, 203);
    color: rgb(150, 139, 139);
    transition: 1.2s;
  }