<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}}Wildlife{{/block}}</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' />
    <link rel='stylesheet' href='app.css' />
</head>
<body>
<!--begin main template-->
<div class="container">
    <section>
        <div class="nav">
            <a href="/">Rangers</a>
            <a class="nav-link" href="/sightings">Sightings</a>
            <a class="nav-link" href="/animals">Animals</a>
            <a class="nav-link" href="/location">Locations</a>
        </div>

    </section>
    <div class="">
        {{#block "content"}}

        {{/block}}
    </div>
</div>
<!--end main template-->
{{#block "footer"}}
    <div class="footer">

    </div>
    </body>
    </html>
{{/block}}